<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
 <link rel="stylesheet" href="/css/stylePages.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar INETEK</title>
</head>

<body>

  <header>
    <%- include('../partials/navadmin') %>  

    <h1 class="text-center my-5">Administrar. Eliminación de desarollos</h1>
  </header>

  <div class="container">
    <div class="row my-5">
      <h2>Eliminar Desarrollo</h2>
    </div>
    <div class="list-dev-container" style="display: flex;">
      <% developments.forEach(development=> { %>

        <a href="#" class="dev-title-delete" data-id=<%= development._id %>>
          <%= development.title %>
        </a>

        <% }); %>

    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <script src="/js/delete.js"></script>

</body>

</html>