<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"> -->
    <!--<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">-->

    <link rel="stylesheet" href="/css/style.css">
    <title>INETEK</title>
</head>

<body>
    <nav>
        <div class="container-menu-pads">
            <div class="menu-pads" id="menu-pads">
                <!-- <img src="img/menu-service.svg" alt=""> -->
                <svg transform="scale(1.4)" width="700" height="190" viewBox="0 0 1213 464" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <circle cx="1040" cy="384.508" r="12.5" stroke="#5A5A5A" stroke-width="4" />
                    <circle cx="1176.5" cy="338.5" r="14.5" fill="#C4C4C4" />
                    <circle cx="1116.5" cy="124.5" r="14.5" fill="#C4C4C4" />
                    <path
                        d="M1179.5 234.501H1126L1096.5 262.008H982.5M982.5 262.008H861L800.5 204.508H779H-18.5M982.5 262.008L959 229.508H892M1161 340.501H1104.5L1020.5 279.008H814.5H779H-18.5M1026 385.008H846.5L821 407.001L-18.5 402.008M1088 445.508H865.5L841.5 462.508H-18.5M779 327.508H-18.5"
                        stroke="#5A5A5A" />
                    <path d="M1102 128H805.5M805.5 128H774H-21M805.5 128L845.5 178H1019.5" stroke="#E5E5E5" />
                    <circle cx="1105" cy="444" r="14.5" fill="black" fill-opacity="0.2" stroke="#C4C4C4"
                        stroke-width="3" />
                    <circle cx="1191" cy="233" r="8.5" fill="black" fill-opacity="0.2" stroke="#C4C4C4"
                        stroke-width="3" />
                    <circle cx="882.5" cy="230.008" r="8.5" fill="black" fill-opacity="0.2" stroke="#C4C4C4"
                        stroke-width="3" />
                    <circle cx="1027" cy="177" r="8" fill="#5A5A5A" />
                    <circle cx="929" cy="64.5078" r="12.5" stroke="#5A5A5A" stroke-width="4" />
                    <path d="M997 16.0078H700.5M700.5 16.0078H669H-21M700.5 16.0078L740.5 64.0078H914.5"
                        stroke="#E5E5E5" />
                    <path d="M894 92.5078H731L719 78.0078H-21" stroke="#5A5A5A" />
                    <path
                        d="M910 92.5078C910 96.9261 906.418 100.508 902 100.508C897.582 100.508 894 96.9261 894 92.5078C894 88.0895 897.582 84.5078 902 84.5078C906.418 84.5078 910 88.0895 910 92.5078Z"
                        fill="#5A5A5A" />
                    <circle cx="817" cy="334" r="7.5" fill="black" fill-opacity="0.2" stroke="#C4C4C4"
                        stroke-width="3" />
                    <circle cx="1003" cy="16" r="16" fill="#C4C4C4" />
                    <g class="index-menu" id="index-menu1">
                        <circle cx="1002" cy="19" r="25" fill="#0098DB" />
                        <circle cx="1002" cy="19" r="22.5" stroke="black" stroke-opacity="0.5" stroke-width="5" />
                    </g>
                    <g class="index-menu" id="index-menu2">
                        <circle cx="1120" cy="125" r="25" fill="#0098DB" />
                        <circle cx="1120" cy="125" r="22.5" stroke="black" stroke-opacity="0.5" stroke-width="5" />
                    </g>
                    <g class="index-menu" id="index-menu3">
                        <circle cx="1187" cy="233" r="25" fill="#0098DB" />
                        <circle cx="1187" cy="233" r="22.5" stroke="black" stroke-opacity="0.5" stroke-width="5" />
                    </g>
                    <g class="index-menu" id="index-menu4">
                        <circle cx="1178" cy="340" r="25" fill="#0098DB" />
                        <circle cx="1178" cy="340" r="22.5" stroke="black" stroke-opacity="0.5" stroke-width="5" />
                    </g>
                    <g class="index-menu" id="index-menu5">
                        <circle cx="1105" cy="444" r="25" fill="#0098DB" />
                        <circle cx="1105" cy="444" r="22.5" stroke="black" stroke-opacity="0.5" stroke-width="5" />
                    </g>
                </svg>

                <div class="service-menu" id="service-menu">
                    <ul id="ul-menu-service">
                        <li>
                            <a href="#nada" id="menu-schematic">Diseño esquemático</a>
                        </li>
                        <li>
                            <a href="#nada" id="menu-pcb">Diseño de PCB </a>
                        </li>
                        <li>
                            <a href="#nada" id="menu-firmware">Firmware</a>
                        </li>
                        <li>
                            <a href="#nada" id="menu-software">Software</a>
                        </li>
                        <li>
                            <a href="#nada" id="menu-iot">Telemetría IoT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <button class="menu-button" id="menu-button"></button>
        <div class="container_nav">
            <div class="container-nav-left">
                <img src="img/logo-inetek-removebg-preview.png" alt="inetek logo">
                <!--logo-inetek-removebg-preview-->
            </div>
            <div class="container-nav-right">
                <ul class="main-nav-ul" id="main-nav-ul">
                    <li>
                        <a href="#" id="QuieneSomos">Quienes somos</a>
                    </li>
                    <li>
                        <a href="#servicios">Servicios</a>
                    </li>
                    <li>
                        <a href="#soluciones">Soluciones</a>
                    </li>
                    <li>
                        <a href="#desarrollos">Desarrollos</a>
                    </li>
                    <li>
                        <a href="#contacto">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </nav>

    <header>

        <div class="container_header">
            <div class="img_header">
                <img src="img/pcb-header-removebg.png" alt="Imagen circuito PCB">
            </div>
            <div>
                <h1>Soluciones Electrónicas</h1>
                <h3><span class="otroestilo">Ingeniería</span> aplicada a la
                    <br>investigacion, innovacion y diseño <br> de
                    sistemas <span class="otroestilo">electrónicos</span> a medida.
                </h3>
            </div>
        </div>
    </header>

    <main>
        <section id="servicios">
            <div class="container-grid">
                <div class="grid-section">
                    <div class="item seg1">
                        <div class="track-sup"></div>

                    </div>
                    <div class="item seg2">
                        <div class="pad"></div>
                    </div>
                    <div class="item seg3">
                        <div class="track-inf"></div>
                    </div>
                    <div class="item seg4">
                        <div class="title-section serv">
                            <h2>SERVICIOS</h2>
                        </div>
                    </div>
                    <div class="item seg5">
                        <p>Nuestro principal servicio es diseñar una solución electrónica adaptada a la necesidad
                            específica
                            del cliente, buscando la aplicación tecnológica mas óptima e innovadora.</p>
                    </div>
                </div>
            </div>
        </section>


        <div class="menu-pads2" id="menu-pads2">
            <img src="img/menu-service.svg" alt="imagen menu de servicios">
            <div class="service-menu2" id="service-menu2">
                <ul id="ul-menu-service">
                    <li>
                        <a href="#nada" id="menu-schematic2">Diseño esquemático</a>
                    </li>
                    <li>
                        <a href="#nada" id="menu-pcb2">Diseño de PCB </a>
                    </li>
                    <li>
                        <a href="#nada" id="menu-firmware2">Firmware</a>
                    </li>
                    <li>
                        <a href="#nada" id="menu-software2">Software</a>
                    </li>
                    <li>
                        <a href="#nada" id="menu-iot2">Telemetría IoT</a>
                    </li>
                </ul>
            </div>
        </div>





        <div class="container-service" id="container-service">
            <div class="service-image-container">
                <img src="img/serv-img1.png" class="img-service" id="img-service" alt="Imagen de servicios">
            </div>
            <div class="service-text-container">
                <h3 id="title-text-service">Diseño Esquemático</h3>
                <p id="text-service">Diseñamos el diagrama de circuito electrónico analógico y digital. Desde la
                    tipología
                    hasta el cálculo. Cada desarrollo tiene un diseño exclusivo adaptado a las necesidades de cada
                    cliente.
                </p>
            </div>

        </div>

        <section id="soluciones">
            <div class="container-grid">
                <div class="grid-section">
                    <div class="item seg1">
                        <div class="track-sup"></div>

                    </div>
                    <div class="item seg2">
                        <div class="pad"></div>
                    </div>
                    <div class="item seg3">
                        <div class="track-inf"></div>
                    </div>
                    <div class="item seg4">
                        <div class="title-section sol">
                            <h2>SOLUCIONES</h2>
                        </div>
                    </div>
                    <div class="item seg5">
                        <p>Nuestra experiencia nos ha dalo la posibilidad de brindar soluciones electrónicas en
                            diferentes
                            disciplinas técnicas, aplicando el potencial de la ingeniería y la investigación científica.
                        </p>
                    </div>
                </div>
            </div>

            <div class="container-solutions">
                <!-- <div class="container_cards"> -->
                <div class="mini-card-grid">
                    <div class="card mini-card">
                        <h5>En automatización y control industrial</h5>
                        <div class="content_icon-card">
                            <img src="img/industry.png" alt="Imagen de Industria">

                        </div>
                    </div>
                    <div class="card mini-card">
                        <h5>En intrumentación</h5>
                        <div class="content_icon-card">
                            <img src="img/industry.png" alt="Imagen de instrumento de medición">

                        </div>
                    </div>
                    <div class="card mini-card">
                        <h5>En fabricacion de equipos electrónicos</h5>
                        <div class="content_icon-card">
                            <img src="img/industry.png" alt="Imagen de equipo electrónico">

                        </div>
                    </div>
                    <div class="card mini-card">
                        <h5>En sensores inalambricos y telemetría</h5>
                        <div class="content_icon-card">
                            <img src="img/industry.png" alt="Imagen referente a telemetría">

                        </div>
                    </div>
                    <div class="card mini-card">
                        <h5>En mediciones geofísicas y laboratorios de suelos</h5>
                        <div class="content_icon-card">
                            <img src="img/industry.png" alt="Imagen medicion geofísica">

                        </div>
                    </div>
                </div>
                <!-- </div> -->
            </div>
        </section>

        <section id="desarrollos">
            <div class="container-grid">
                <div class="grid-section">
                    <div class="item seg1">
                        <div class="track-sup"></div>

                    </div>
                    <div class="item seg2">
                        <div class="pad"></div>
                    </div>
                    <div class="item seg3">
                        <div class="track-inf"></div>
                    </div>
                    <div class="item seg4">
                        <div class="title-section des">
                            <h2>DESARROLLOS</h2>
                        </div>
                    </div>
                    <div class="item seg5">
                        <p>Para comprender el amplio espectro de nuestros servicios y experiencia, te mostramos algunos
                            proyectos desarrollados para nuestros clientes.</p>
                    </div>
                </div>
            </div>
            <div class="container-developments">
                <div class="grid-developments">
                   
                        <% developments.forEach(development => { %>
                            <div class="backGround-card">
                                <div class="card-dev" data-id=<%= development._id %>>
                                    <h5><%= development.title %></h5>
                                </div>
                            </div>
                           
                            <% }); %>
                   
                   
                   
                </div>
            </div>

            </div>
        </section>

    </main>
    <div class="blur" id="blur"></div>
    <div class="modal-dev" id="modal-dev">
        <h2 class="modal-dev-title" >Titulo</h2>
        <h4 class="modal-dev-service">Servicio</h4>
        
    <div class=modal-subcontainer> 
        <p class="modal-dev-description">Parrafos de descripcion</p>
        <img class="modal-dev-img" src="" alt="">
    </div>
    
    </div>

    <footer id="contacto">
        <div class="contact-container">
            <h5>CONTACTANOS</h5>
        </div>
        <div class="grid-footer">
            <div class="celda-data">
                <div class="form-group">
                    <label for="Name">Nombre</label>
                    <input type="text" id="Name">
                </div>
                <div class="form-group">
                    <label for="Company">Empresa</label>
                    <input type="text" id="Company">
                </div>
                <div class="form-group">
                    <label for="Phone">Teléfono</label>
                    <input type="number" id="Phone">
                </div>
                <div class="form-group">
                    <label for="Email">E-mail</label>
                    <input type="email" id="Email">
                </div>
            </div>
            <div class="celda-messaje">
                <div class="form-group">
                    <label class="label-comment">
                        Mensaje
                        <div class="container-textarea">
                            <textarea class="area-comment" name="comment"></textarea>
                        </div>
                    </label>
                </div class="form-group">
                <input class="enviar" type="submit" value="Enviar">
            </div>


            <div class="celda-links">
                <a class="link-web" href="www.inetek.com.ar">www.inetek.com.ar</a>
                <p>Córdoba, Argentina</p>
                <p>info@inetek.com.ar</p>
                <p>+549 351 5221819</p>
                <div class="follow-us screen">
                    <h5>Seguinos!</h5>
                    <img src="img/followme.png" alt="Imagen redes sociales">
                </div>
            </div>
            <div class="celda-logo ">
                <div class="container-img-logo-footer mobile">
                    <img class="img-logo-footer" src="img/logo-inetek-bgblack.png" alt="Logo INETEK">
                </div>
            </div>
            <div class="celda-menus">
                <div class="menu-footer mobile">
                    <ul class="footer-menu-ul">
                        <li>
                            <a href="#">Quienes somos</a>
                        </li>
                        <li>
                            <a href="#servicios">Servicios</a>
                        </li>
                        <li>
                            <a href="#soluciones">Soluciones</a>
                        </li>
                        <li>
                            <a href="#desarrollos">Desarrollos</a>
                        </li>
                        <li>
                            <a href="#contacto">Contacto</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="follow-us mobile">
                <h5>Síguenos!</h5>
                <img src="img/followme.png" alt="Imagen redes sociales">
            </div>
        </div>
    </footer>

    <!-- <script src="bootstrap/js/bootstrap.min.js"></script> -->
    <script src="/js/main.js"></script>
</body>

</html>